<div class="container">

  <div class="row">
    <div class="col-lg">
      <h1 class="display-1 text-center">{{title}}</h1>
      <hr>
      <h5 class="text-center font-weight-light">Software Engineer</h5>
    </div>
  </div>

  {{!-- About Me --}}
  <br>
  <h1>About Me</h1>
  <p>
    My name is Aaron Sletten, and I am studying to become a Software Engineer. My passion is to understand and
    effectively utilize technology.
  </p>

  <br><br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <figure class="figure">
        <img src="/images/about/homepage_image.png" class="figure-img img-fluid rounded">
      </figure>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <br><br><br><br><hr><br><br><br><br>

  {{!-- Project, Resume and Contact --}}
  <div class="row">
    <div class="col-4 h-100">
      <h1 class="text-center">Projects</h1>
      <p>These are some of the projects I have created for work, school, and just for fun</p>
      <a href="/projects" class="btn btn-primary align-bottom">View</a>
    </div>
    <div class="col-4 h-100">
      <h1 class="text-center">Resume</h1>
      <p>View a web formatted copy of my resume or download a PDF version</p>
      <a href="/resume" class="btn btn-primary align-bottom">View</a>
    </div>
    <div class="col-4 h-100">
      <h1 class="text-center">Contact</h1>
      <p>You can contact me by email anytime and by phone between the hours of 5PM-9PM CT</p>
      <a href="/contact" class="btn btn-primary align-bottom">View</a>
    </div>
  </div>

  {{!-- About Website --}}
  <br><br><br><br><hr><br><br><br><br>
  <div class="row">
    <div class="col-md">
      <h1>About this Website</h1>
      <p>
        The back-end of this website was built using Node.js and is deployed using Express and Heroku. The front-end
        was
        built using Handlebars and Bootstrap.
      </p>
    </div>
  </div>
  {{!-- Icons --}}
  <div class="icon-align-center align-bottom">
    <i class="fab fa-node-js fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Nodejs"></i>
    <i class="fab fa-html5 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="HTML 5"></i>
    <i class="fab fa-css3 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="CSS 3"></i>
    <img class="myIcon myIcon-img" src="/images/technology_icons/handlebars_icon.png" data-toggle="tooltip"
      data-placement="top" title="Handlebars">
    <img class="myIcon myIcon-img" src="/images/technology_icons/boostrap_icon.png" data-toggle="tooltip"
      data-placement="top" title="Bootstrap 4">
    <img class="myIcon myIcon-img" src="/images/technology_icons/heroku_icon.png" data-toggle="tooltip" data-placement="top"
      title="Heroku">
  </div>
  <br><br><br><br>
  
</div>

