<div class="container">
    <div class="col-lg">
        <h1 class="display-3 text-center">{{title}}</h1>
        <hr>
    </div>

    <p>You can contact me by email anytime and by phone between the hours of 5PM-9PM Central Time.</p>

    <p>
        <a href="mailto:aaron.j.sletten@gmail.com">aaron.j.sletten@gmail.com</a>
    </p>
    <p>
        701-331-2962
    </p>
</div>