<div class="col-lg">
    <h1 class="display-3 text-center">{{title}}</h1>
    <hr>
</div>

<h3>Email</h1>
<ul>
    <li><a href="mailto:aaron.j.sletten@gmail.com">aaron.j.sletten@gmail.com</a></li>
    <li><a href="mailto:aaron.j.sletten@ndus.edu">aaron.j.sletten@ndus.edu</a></li>

</ul>

<h3>Phone</h3>
<ul>
    <li>701-331-2962</li>
</ul>