<div class="col-lg">
    <h1 class="display-3 text-center">{{title}}</h1>
    <hr>
</div>

{{!-- <img class="myIcon" src="/images/technology_icons/mongo_icon.png" data-toggle="tooltip" data-placement="top"
    title="Mongo DB">
<img class="myIcon" src="/images/technology_icons/bootstrap_icon.svg" data-toggle="tooltip" data-placement="top" title="Bootstrap 4">
<img class="myIcon" src="/images/technology_icons/visual_studio_code_icon.svg" data-toggle="tooltip" data-placement="top"
    title="VS Code"> --}}
{{!-- <i class="fab fa-js-square fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Javascript"></i>
--}}
{{!-- <i class="fab fa-linux fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Linux"></i> --}}
{{!-- <i class="fab fa-git-square fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Git"></i> --}}


{{!-- Lab and Strawberries --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="../images/lab_monitor/profiles.PNG">
            <div class="card-body">
                <h5 class="card-title d-inline">Lab Monitor Website </h5>

                <p>Website used to monitor various environmental chambers at Appareo.</p>

                <a href="/projects/lab_monitor" class="btn btn-primary">View</a>

                {{!-- Icons --}}
                <hr>
                <div class="icon-align-center align-bottom">
                    <i class="fab fa-node-js fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Nodejs"></i>
                    <i class="fab fa-html5 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="HTML 5"></i>
                    <i class="fab fa-css3 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="CSS 3"></i>
                    <img class="myIcon myIcon-img" src="/images/technology_icons/boostrap_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Bootstrap 4">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/handlebars_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Handlebars">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/mongodb-icon.png" data-toggle="tooltip"
                        data-placement="top" title="Mongo DB">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/nginx_icon.png" data-toggle="tooltip"
                        data-placement="top" title="NGINX">
                </div>

                <br>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/strawberry_robot/stawberry_card_image.jpg">
            <div class="card-body">
                <h5 class="card-title d-inline">Strawberry Imaging Robot</h5>

                <p>Arduino and IOS app robot used to take thousands of images of strawberries.</p>
                <a href="/projects/strawberry_robot" class="btn btn-primary">View</a>

                <hr>
                <div class="icon-align-center align-bottom">
                    <i class="fab fa-bluetooth-b fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Bluetooth LE"></i>
                    <img class="myIcon myIcon-img" src="/images/technology_icons/arduino_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Arduino">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/av_foundation_icon.png" data-toggle="tooltip"
                        data-placement="top" title="AVFoundation">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/ios_11_icon.png" data-toggle="tooltip"
                        data-placement="top" title="IOS 11">
                    <img class=" myIcon myIcon-img" src="/images/technology_icons/swift_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Swift 4.2">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/ObjC_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Objective C">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/c_icon.png" data-toggle="tooltip"
                        data-placement="top" title="C">
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Internal Database and quadcopter --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="../images/internal_database/internal_database_tool_card_image.PNG">
            <div class="card-body">
                <h5 class="card-title d-inline">Internal Database Tool</h5>
                <p>Application used to send files to a server while also logging data about the files. Built for
                    Appareo.</p>
                <a href="/projects/internal_database" class="btn btn-primary">View</a>

                {{!-- Icons --}}
                <hr>
                <div class="icon-align-center align-baseline">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/mysql_icon.png" data-toggle="tooltip"
                        data-placement="top" title="mySQL">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/visual_studio_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Visual Studio 2017">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/windows_server_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Windows Server 2012">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/c-sharp-icon.png" data-toggle="tooltip"
                        data-placement="top" title="C#">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/mahapps_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Mahapps">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/quadcopter/quadcopter_card_image.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Quadcopter Positioning</h5>

                <p>Quadcopter that can figure out its position relative to floor and walls using minimal sensors.
                </p>
                <a href="/projects/quadcopter_positioning" class="btn btn-primary">View</a>
                <hr>
                <div class="icon-align-center align-baseline">
                    <i class="fab fa-bluetooth-b fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Bluetooth LE"></i>
                    <img class="myIcon myIcon-img" src="/images/technology_icons/arduino_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Arduino">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/unity_icon.png" data-toggle="tooltip"
                        data-placement="top" title="C">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/c-sharp-icon.png" data-toggle="tooltip"
                        data-placement="top" title="C#">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/c_icon.png" data-toggle="tooltip"
                        data-placement="top" title="C">
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Centroid Endangered Species --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/centroid_calculator/centroid_calculator_card.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Centroid Calculator</h5>

                <p>Program that used Google Earth KML files to calculate the centroid of a US State</p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images//endangered_species/endagered_species_card.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Endangered Species Map</h5>

                <p>Python script that pulls data from worldwildlife.org and creates an interactive Google Earth
                    map.
                </p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
</div>

{{!-- PHP RC Car --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="../images/test.png">
            <div class="card-body">
                <h5 class="card-title d-inline">PHP Database Website</h5>

                <p>Database project that allows viewing of a SQL database</p>
                <a href="#" class="btn btn-primary disabled">View</a>

                <hr>
                <div class="icon-align-center align-baseline">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/php_icon.png" data-toggle="tooltip"
                        data-placement="top" title="PHP">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/mysql_icon.png" data-toggle="tooltip"
                        data-placement="top" title="mySQL">
                    <i class="fab fa-html5 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="HTML 5"></i>
                    <i class="fab fa-css3 fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="CSS 3"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="../images/test.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Computer Controlled RC Car</h5>

                <p>Application that used an arduino hacked into an RC remote to allow communication with a Mac
                    running Unity
                    3D.
                </p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
</div>

{{!-- Crust to Core and Tank Game --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/geology_game/geology_game_card.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Geology Game</h5>

                <p>Platformer game to help teach geology.</p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/tank_game/tank_card.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Tank Game</h5>

                <p>An interesting take on a "brick breaker" style game.
                </p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
</div>

{{!-- Parachutes --}}
<div class="row">
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/parachutes/parachutez_card.png">
            <div class="card-body">
                <h5 class="card-title d-inline">My First IOS Game - (Don't laugh)</h5>
                <p>First IOS game built with SpriteKit and Swift 1.0</p>
                <a href="#" class="btn btn-primary disabled">View</a>
                <hr>
                <div class="icon-align-center align-bottom">
                    <img class=" myIcon myIcon-img" src="/images/technology_icons/swift_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Swift 1.0">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/ObjC_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Objective C">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/spitekit_icon.png" data-toggle="tooltip"
                        data-placement="top" title="SpriteKit">
                    <img class="myIcon myIcon-img" src="/images/technology_icons/gamecenter_icon.png" data-toggle="tooltip"
                        data-placement="top" title="Gamecenter">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card h-100">
            <img class="card-img-top" src="/images/test.png">
            <div class="card-body">
                <h5 class="card-title d-inline">Frankenstein PC</h5>
                <p>PC that was built using two power supplies connected together.</p>
                <a href="#" class="btn btn-primary disabled">View</a>
            </div>
        </div>
    </div>
</div>