<div class="col-lg">
    <h1 class="display-3 text-center">{{title}}</h1>
    <hr>
</div>

<br>
<h1>Education</h1>
<hr>
<div class="row">
    <div class="col-9">
        <h5>North Dakota State University</h5>
    </div>
    <div class="col-3">
        <h6>Fall 2015</h6>
        {{!-- <h6>Spring 2019</h6> --}}
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>B.S. in Computer Science</li>
            <li>Anticipated Graduation</li>
            <li>Achievements: 3.8 GPA</li>
            <li>Favorite Classes: Algorithms and Data Structures, OS, Comparative Programming Languages</li>
        </ul>
    </div>
    <div class="col-3">
        <br>
        <h6>Spring 2020</h6>
        {{!-- <h6>Spring 2019</h6> --}}
    </div>
</div>

<br>
<h1>Work Experience</h1>
<hr>

<div class="row">
    <div class="col-9">
        <h5>Appareo</h5>
    </div>
    <div class="col-3">
        <h6>Fargo, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Software Engineer Internship</h6>
    </div>
    <div class="col-3">
        <h6>May 2018-Present</h6>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>Built an environmental lab monitor and data visualization tool in NodeJS</li>
            <li>Created file archiver and database entry tool for test department data logging</li>
            <li>Developed an automated imaging system for iOS to speed up data collection for neural network training</li>
            <li>Wrote Python parsers and visualization tools for tractor diagnostic files</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Daniel Sletten Farms</h5>
    </div>
    <div class="col-3">
        <h6>Larimore, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Farm Hand</h6>
    </div>
    <div class="col-3">
        <h6>2011-2017</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <ul>
            <li>Fixed various electrical and mechanical problems around the farm</li>
            <li>Planted, fertilized, sprayed, harvested, and transported all farm products</li>
            <li>Performed maintenance on all farm equipment and buildings</li>
        </ul>
    </div>
</div>

<br>
<h1>Skills</h1>
<hr>

<div class="row">
    <div class="col-9">
        <h5>Languages</h5>
        <ul>
            <li>Java, JavaScript, Python, HTML, C#, Swift, C, Objective-C, SQL</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Technologies</h5>
        <ul>
            <li>OOP, NodeJS, MongoDB, mySQL, NGINX, Windows 10 WPF, iOS Arduino, Raspberry Pi</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Electromechanical Skills</h5>
        <ul>
            <li>Basic circuit design, circuit tracing, home wiring, heavy equipment operation/maintenance, power tool operation (lathe, mill, planer, band saw, etc.), welding (MIG, stick, acetylene), metal casting</li>
        </ul>
    </div>
</div>

<br>
<h1>Leadership and Involvement</h1>
<hr>
<div class="row">
    <div class="col-9">
        <ul>
            <li>NDSU Coding Challenge</li>
            <li>NDSU Track and Field Team</li>
        </ul>
    </div>
    <div class="col-3">
        <h6 style="margin-bottom:6px">2018-Present</h6>
        <h6 style="margin-bottom:6px">2015-2017</h6>
    </div>
</div>
<br>

<br>
<h1>Contact</h1>
<hr>
<div class="row">
    <div class="col-9">
        <ul>
            <li>701-331-2962</li>
            <li><a href="mailto:aaron.j.sletten@gmail.com">aaron.j.sletten@gmail.com</a></li>
        </ul>
    </div>
</div>
<br>

<a href="/resumepdf" class="btn btn-primary align-center">Download PDF</a>
<br><br>