<div class="col-lg">
    <h1 class="display-3 text-center">{{title}}</h1>
    <hr>
</div>

<br>
<h1>Objective</h1>
<hr>
<p>
    To obtain a position as a software engineer intern at Apple in Cupertino, CA
</p>

<br>
<h1>Education</h1>
<hr>
<div class="row">
    <div class="col-9">
        <h5>North Dakota State University</h5>
    </div>
    <div class="col-3">
        <h6>Fall 2015-Present</h6>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>6/8 semesters of B.S. in Computer Science completed</li>
            <li>Achievements: 3.8 GPA, Dean’s List: 5 semesters</li>
        </ul>
    </div>
    <div class="col-3">
        <h6>Fall 2018</h6>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Larimore Public School</h5>
    </div>
    <div class="col-3">
        <h6>Graduated May 2015</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <ul>
            <li>Achievements: Academic Challenge Team, Math Team, 1st Place Networking - State FBLA</li>
        </ul>
    </div>
</div>

<br>
<h1>Work Experience</h1>
<hr>

<div class="row">
    <div class="col-9">
        <h5>Appareo</h5>
    </div>
    <div class="col-3">
        <h6>Fargo, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Software Engineer Internship</h6>
    </div>
    <div class="col-3">
        <h6>May 2018-Present</h6>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>Furthered knowledge of object-oriented design and concepts while building backend NodeJS applications.</li>
            <li>Developed Python and C# programming skills while creating Windows 10 software.</li>
            <li>Demonstrated hard work ethic and dedication while completing multi-month long projects.</li>
            <li>Showed teamwork skills when collaborating on internal software projects.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Daniel Sletten Farms</h5>
    </div>
    <div class="col-3">
        <h6>Larimore, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Farm Hand</h6>
    </div>
    <div class="col-3">
        <h6>May 2018-Present</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <ul>
            <li>Gained technical knowledge while fixing various electrical and mechanical problems.</li>
            <li>Demonstrated precision and diligence while driving heavy machinery such as semi and forklift.</li>
            <li>Developed persistence and a hard work ethic while working long hours to finish the job at hand.</li>
        </ul>
    </div>
</div>

<br>
<h1>Tech Experience</h1>
<hr>

<h5>Languages</h5>
<br>
<div class="row">
    <table class="table table-sm ml-5 mr-5">
        {{!-- <thead>
            <th scope="col">Language</th>
            <th scope="col">IDE</th>
            <th scope="col">Experience</th>
        </thead> --}}
        <tbody>
            <tr>
                <th>Java</th>
                <th>Eclipse, NetBeans</th>
                <th><i class="fas fa-check-circle" style="color:limegreen" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Primary Language"></i></th>
            </tr>
            <tr>
                <th>JavaScript</th>
                <th>VS Code</th>
                <th><i class="fas fa-check-circle" style="color:limegreen" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Primary Language"></i></th>
            </tr>
            <tr>
                <th>C#</th>
                <th>VS Code, Visual Studio, MonoDevelop</th>
                <th><i class="fas fa-check-circle" style="color:limegreen" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Primary Language"></i></th>
            </tr>
            <tr>
                <th>Python</th>
                <th>Xcode, VS Code</th>
                <th><i class="fas fa-check-circle" style="color:limegreen" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Primary Language"></i></th>
            </tr>
            <tr>
                <th>HTML</th>
                <th>VS Code, Visual Studio, Brackets, NetBeans</th>
                <th><i class="fas fa-check-circle" style="color:limegreen" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Primary Language"></i></th>
            </tr>
            <tr>
                <th>Swift</th>
                <th>Xcode</th>
                <th><i class="fas fa-check-circle" style="color:darkorange" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Secondary Language"></i></th>
            </tr>
            <tr>
                <th>Objective-C</th>
                <th>Xcode</th>
                <th><i class="fas fa-check-circle" style="color:darkorange" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Secondary Language"></i></th>
            </tr>
            <tr>
                <th>C</th>
                <th>Xcode, VS Code, Arduino IDE</th>
                <th><i class="fas fa-check-circle" style="color:darkorange" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Secondary Language"></i></th>
            </tr>
            <tr>
                <th>SQL</th>
                <th>Visual Studio</th>
                <th><i class="fas fa-check-circle" style="color:darkorange" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Secondary Language"></i></th>
            </tr>
        </tbody>
    </table>
</div>

<br>
<div class="row">
    <div class="col-9">
        <h5>Technologies and Frameworks</h5>
        <ul>
            <li>NodeJS, MongoDB, Express, mySQL, WPF, NGINX, Core Bluetooth, Bash, XML formats (XML, KML, XAML), JSON,
                CSS, Handelbars, Arduino, Raspberry Pi</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Software</h5>
        <ul>
            <li>Final Cut Pro X, Motion 5, Blender, Unity, Visio, Photoshop CC, Illustrator CC, iWork, Microsoft
                Office, iBooks Author, Pixelmator, Sketch</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Computer OS Experience</h5>
        <ul>
            <li>macOS, Mac OS X, Ubuntu, Windows (XP, 7, 8, 10, 2012 Server) Raspbian</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Electrical Skills</h5>
        <ul>
            <li>Soldering, circuit tracing, basic circuit design, home wiring</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Mechanical Skills</h5>
        <ul>
            <li>Heavy equipment operation/maintenance (tractors, semi, caterpillar), various power tools (lathe, mill,
                planer, band saw, etc.), welding (MIG, stick, acetylene), metal casting</li>
        </ul>
    </div>
</div>

<br>
<h1>Leadership and Involvement</h1>
<hr>
<div class="row">
    <div class="col-9">
        <ul>
            <li>NDSU Coding Challenge</li>
            <li>NDSU Track and Field Team</li>
            <li>Fellowship of Christian Athletes</li>
            <li>Vacation Bible School Leader</li>
            <li>Fargo Emergency Food Pantry Volunteer</li>
            <li>Youth football Leader</li>
            <li>Larimore Senior Center and Library Volunteer</li>
        </ul>
    </div>
    <div class="col-3">
        <h6 style="margin-bottom:6px">2018-Present</h6>
        <h6 style="margin-bottom:6px">2015-2017</h6>
        <h6 style="margin-bottom:6px">2011-2017</h6>
        <h6 style="margin-bottom:6px">2010-2017</h6>
        <h6 style="margin-bottom:6px">2016</h6>
        <h6 style="margin-bottom:6px">2011-2015</h6>
        <h6 style="margin-bottom:6px">2012-2015</h6>
    </div>
</div>
<br>