<div class="col-lg">
    <h1 class="display-3 text-center">{{title}}</h1>
    <hr>
</div>

<br>
<h1>Education</h1>
<hr>
<div class="row">
    <div class="col-9">
        <h5>North Dakota State University</h5>
    </div>
    <div class="col-3">
        <h6>Fall 2015</h6>
        {{!-- <h6>Spring 2019</h6> --}}
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>B.S. in Computer Science</li>
            <li>Anticipated Graduation</li>
            <li>Achievements: 3.8 GPA</li>
            <li>Favorite Classes: Java 1 & 2, OS, Comparative Programming Languages</li>
        </ul>
    </div>
    <div class="col-3">
        <br>
        <h6>Spring 2020</h6>
        {{!-- <h6>Spring 2019</h6> --}}
    </div>
</div>

<br>
<h1>Work Experience</h1>
<hr>

<div class="row">
    <div class="col-9">
        <h5>Appareo</h5>
    </div>
    <div class="col-3">
        <h6>Fargo, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Software Engineer Internship</h6>
    </div>
    <div class="col-3">
        <h6>May 2018-Present</h6>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <ul>
            <li>Furthered knowledge of object-oriented design while building a lab monitor in NodeJS</li>
            <li>Advanced Windows 10 development abilities when creating database access software</li>
            <li>Developed quick prototyping skills while writing Python command line tools</li>
            <li>Showed commitment to my work when building an automated imaging system outside of working hours</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Daniel Sletten Farms</h5>
    </div>
    <div class="col-3">
        <h6>Larimore, ND</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h6 class="font-italic">Farm Hand</h6>
    </div>
    <div class="col-3">
        <h6>2011-2017</h6>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <ul>
            <li>Gained technical knowledge while fixing various electrical and mechanical problems</li>
            <li>Demonstrated precision and diligence while driving heavy machinery such as semi and forklift</li>
            <li>Developed persistence and a hard work ethic while working long hours to finish the job at hand</li>
        </ul>
    </div>
</div>

<br>
<h1>Tech Experience</h1>
<hr>

<div class="row">
    <div class="col-9">
        <h5>Languages</h5>
        <ul>
            <li>Java, JavaScript, Python, HTML, C#, Swift, C, Objective-C, SQL</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Technologies</h5>
        <ul>
            <li>NodeJS, MongoDB, mySQL, NGINX, WPF, Arduino, Raspberry Pi</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h5>Electromechanical Skills</h5>
        <ul>
            <li>Basic circuit design, circuit tracing, home wiring, heavy equipment operation/maintenance, power tool operation (lathe, mill, planer, band saw, etc.), welding (MIG, stick, acetylene), metal casting</li>
        </ul>
    </div>
</div>

<br>
<h1>Leadership and Involvement</h1>
<hr>
<div class="row">
    <div class="col-9">
        <ul>
            <li>NDSU Coding Challenge</li>
            <li>NDSU Track and Field Team</li>
        </ul>
    </div>
    <div class="col-3">
        <h6 style="margin-bottom:6px">2018-Present</h6>
        <h6 style="margin-bottom:6px">2015-2017</h6>
    </div>
</div>
<br>

<br>
<h1>Contact</h1>
<hr>
<div class="row">
    <div class="col-9">
        <ul>
            <li>701-331-2962</li>
            <li><a href="mailto:aaron.j.sletten@gmail.com">aaron.j.sletten@gmail.com</a></li>
        </ul>
    </div>
</div>
<br>

<a href="/resumepdf" class="btn btn-primary align-center">Download PDF</a>
<br><br>