.icon-align-center{
    width: 100%;
    display: inline-block;
    text-align:center;
}

.myIcon{
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(59, 59, 59);
}

.myIcon-img{
    height: 35px; 
    margin-bottom: -4px; 
    vertical-align:text-bottom;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-icon{
    text-align: center
}

.myHeading{
    text-align: center;
}

.bullet{
    font-size: 7px;
}

/* Code */
.comment{
    color: green;
}

.access-modifier{
    color: darkblue;
}

.method{
    color: darkmagenta;
}

.object{
    color: firebrick;
}

.key-word{
    color: royalblue;
}

.variable{
    color: firebrick ;
}

.number{
    color: orange;
}

.string{
    color: red;
}