<div class="col-lg">
    <h1 class="display-4 myHeading">{{title}}</h1>
    <hr>
</div>

<h1>Summary</h1>
<p>The geology based game I created is a platformer style game with a player who finds himself stuck near the center of
    the earth. The player must work his way to the surface while collecting coins, rocks, minerals, gemstones, and
    monster parts. The game is designed to be fun to play, but it also sprinkles some educational geology content
    throughout.</p>

<br><br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/geology_game/app_icon.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br><br>
<h1>Details</h1>
<hr>

<h3>Project Requirements</h3>
<table class="table table-sm">
    <tbody>

        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>World based platformer game</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Educational content</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Collect rocks, minerals, and gemstones </th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Kill monsters</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:darkorange"></i> </th>
            <th>Developed storyline</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:darkorange"></i> </th>
            <th>Level up</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:red"></i> </th>
            <th>Craft items</th>
        </tr>
    </tbody>
</table>

<br>
<h3>Approach</h3>
<p>When beginning this project, I made a point to plan out the game more thoroughly than I had for other projects in
    the past. I had learned from previous experience that creating a game without a “finish” point or requirements in
    mind was difficult, so I began with writing up a paper containing high level requirements for my game. I then went
    into detail underneath each requirement. Utilizing this strategy allowed me to create a plan for building the base
    layer of the game, and then later I could focus more on the nonessential fluff that I used to start my game project
    ideas with.</p>

<div class="row">
    <div class="col-sm-6">
        <figure class="figure h-100">
            <img src="/images/geology_game/two_monster.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6">
        <figure class="figure">
            <img src="/images/geology_game/shoot.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
</div>

<h3>Design</h3>
<p>This game was designed using Unity 3D and programmed in C#. The graphics were designed by myself and a friend from
    high school. The designs were first drawn on paper and then converted into digital vectors using Illustrator CC.
    Then, the designs were rasterized into pixel art using Photoshop CC.</p>

<div class="icon-align-center align-bottom">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/Emerald.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/Gem.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/RockOrb.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/Rock.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/FireRock.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/ShooterFire.png">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/Heart.png">
</div>

<br><br><br>

{{!-- <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <figure class="figure">
            <img src="/images/geology_game/Game objects/rock_monster.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <figure class="figure">
            <img src="/images/geology_game/Game objects/spider.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <figure class="figure">
            <img src="/images/geology_game/Game objects/fireball.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-2"></div>
</div> --}}

<div class="icon-align-center align-bottom">
    <img class="myIcon myIcon-img-2x" src="/images/geology_game/Game objects/rock_monster.gif">
    <img class="myIcon myIcon-img-2x" src="/images/geology_game/Game objects/fireball.gif">
    <img class="myIcon myIcon-img" src="/images/geology_game/Game objects/spider.gif">
</div>
<br><br><br>