<div class="row">

    {{!-- <i class="fas fa-pencil-ruler fa-2x d-inline"></i> --}}
    <h1 class="myHeading">{{ title }}</h1>
</div>

<div class="row">
    <div class="col-lg">
        <img src="/images/Lab Monitor/logs.PNG" class="img-responsive img-fluid" >
    </div>
</div>