<div class="col-lg">
    <h1 class="display-4 myHeading">{{title}}</h1>
    <hr>
</div>

<h1>Summary</h1>
<p>After the game “Flappy Bird” by Dong Nguyen became so popular, I said to my friend, “We can do that.” So, we
    designed a similar game with the goals of it being extremely difficult to play yet still a very simple concept. The
    object of the game is to fall through thunder clouds without touching them for as long as you can while collecting
    power ups and other items.</p>

<br><br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/parachutez/parachuteIcon.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-4">
    </div>
</div>

<br><br>
<h1>Details</h1>
<hr>

<br>
<h3>Description</h3>
<p>In my game “Parachutez,” the player is falling through the clouds, trying to make it safely to the ground without
    coming into contact with the thunderclouds. Along the way, there are different colored balloons to collect to give
    you extra points. Among the balloons, there are also power ups including ghost and shield. Ghost lets you fall
    through the clouds without dying for a period of time, and the shield gives you protection for one cloud hit. </p>

<div class="row">
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/home_page.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/game_play_paused.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/game_play_balloon.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/game_over.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
</div>

<br>
<h3>Design</h3>
<p>This game was created using SpriteKit and Swift 1.0 and also integrated Game Center. The graphics were designed by
    myself and a couple of high school friends. The graphics were first drawn on paper and then vectorized using Sketch
    3.</p>

<div class="icon-align-center align-bottom">
    <img class="myIcon myIcon-img-2x" src="/images/parachutez/Balloons/balloonRed@3x.png">
    <img class="myIcon myIcon-img-2x" src="/images/parachutez/Balloons/balloonGreen@3x.png">
    <img class="myIcon myIcon-img-2x" src="/images/parachutez/Balloons/balloonGold@3x.png">
</div>
<br><br><br>

<br>
<h3>Gallery</h3>
<div class="row">
    <div class="col-sm-3">
        <figure class="figure h-100">
            <img src="/images/parachutez/Bacgrounds/mountain.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/Bacgrounds/mountain_drawing.jpg" class="figure-img img-fluid rounded">
        </figure>
    </div>
        <div class="col-sm-3">
        <figure class="figure h-100">
            <img src="/images/parachutez/Bacgrounds/desert.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
        <figure class="figure">
            <img src="/images/parachutez/Bacgrounds/desert_drawing.jpg" class="figure-img img-fluid rounded">
        </figure>
    </div>
</div>