<div class="col-lg">
    <h1 class="display-4 myHeading">{{title}}</h1>
    <hr>
</div>

<h1>Summary</h1>
<p>The strawberry imaging robot is used to take pictures of strawberries for use in training a neural network. The robot consists of a stepper motor, an arduino, a bluetooth module, and an iPhone. The stepper motor turns the strawberries while the iPhone takes pictures of the strawberries automatically.</p>

<div class="icon-align-center align-bottom">
    <i class="fab fa-bluetooth-b fa-2x myIcon" data-toggle="tooltip" data-placement="top" title="Bluetooth LE"></i>
    <img class="myIcon myIcon-img" src="/images/technology_icons/arduino_icon.png" data-toggle="tooltip" data-placement="top"
        title="Arduino">
    <img class="myIcon myIcon-img" src="/images/technology_icons/av_foundation_icon.png" data-toggle="tooltip"
        data-placement="top" title="AVFoundation">
    <img class="myIcon myIcon-img" src="/images/technology_icons/ios_11_icon.png" data-toggle="tooltip" data-placement="top"
        title="IOS 11">
    <img class=" myIcon myIcon-img" src="/images/technology_icons/swift_icon.png" data-toggle="tooltip" data-placement="top"
        title="Swift 4.2">
    <img class="myIcon myIcon-img" src="/images/technology_icons/ObjC_icon.png" data-toggle="tooltip" data-placement="top"
        title="Objective C">
    <img class="myIcon myIcon-img" src="/images/technology_icons/c_icon.png" data-toggle="tooltip" data-placement="top"
        title="C">
</div>


<h1>Details</h1>
<hr>

<h3>Project Requirements</h3>
<table class="table table-sm">
    <tbody>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i></th>
            <th>Take pictures of 4 sides of a strawberry</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i></th>
            <th>Images are well lit</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i></th>
            <th>Images have adequate contrast</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i></th>
            <th>Images have specified aspect ratio</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i></th>
            <th>Images have specified resolution</th>
        </tr>
    </tbody>
</table>

<h3>Arduino</h3>
<p>The arduino in this project is the interface between the bluetooth module and the stepper motor. The code on the arduino waits for the “start” signal from the bluetooth module to begin. Then the arduino rotates the stepper motor one quarter turn. After the rotation is completed the arduino sends a “take” message back to the bluetooth module. The arduino then waits for a delay time and repeats the process.</p>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <figure class="figure">
            <img src="/images/strawberry_robot/stepper_motor.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">Stepper motor</figcaption>
        </figure>
    </div>
    <div class="col-sm-12 col-md-6">
        <figure class="figure">
            <img src="/images/strawberry_robot/arduino.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">Arduino</figcaption>
        </figure>
    </div>
</div>

<pre><code>
<code class="access-modifier">void</code> <code class="method">loop</code>() {
  <code class="key-word">if</code>(bluetoothSerial.<code class="method">available</code>()){
    <code class="comment">// read message from bluetooth module</code>
    <code class="object">String</code> message = bluetoothSerial.<code class="method">readString</code>();
    <code class="comment">// check for start</code>
    <code class="key-word">if</code>(message.<code class="method">equals</code>(<code class="string">"start"</code>)){
      <code class="key-word">for</code>(<code class="variable">int</code> i = <code class="number">0</code>; i < numberOfPictures-<code class="number">1</code>; i++){
        <code class="comment">// rotate stepper</code>
        myStepper.<code class="method">step</code>(stepLength);
        <code class="comment">// send take message</code>
        bluetoothSerial.<code class="method">println</code>(<code class="string">"take"</code>);
        <code class="comment">// wait for delayTime</code>
        <code class="key-word">delay</code>(delayTime);
      }
    }
  }
}
</code></pre>

<h3>iPhone</h3>
<p>The iPhone in this project is used to take pictures and start the rotation routine on the arduino. The application running on the phone is written in Swift and uses Core Bluetooth and AVFoundation. Core Bluetooth is used to communicate with the bluetooth module connected to the arduino. When the bluetooth module sends a “take” command, the application uses AVFoundation to take a picture and save it to the iPhone’s photos.</p>

<br>
<div class="row">
    <div class="col-lg">
        <img src="/images/strawberry_robot/strawberry_iphone_app.png" class="img-fluid mx-auto d-block" style="width:40%">
        {{!-- <figure class="figure">
            <figcaption class="figure-caption">Stepper motor</figcaption>
        </figure> --}}
    </div>
</div>
<br>

<h3>Samples</h3>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_1.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_2.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_3.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_4.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_5.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_6.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_7.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_8.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-6 col-md-4">
        <figure class="figure">
            <img src="/images/strawberry_robot/strawberry_9.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
</div>