<div class="container">

<div class="col-lg">
    <h1 class="display-4 myHeading">{{title}}</h1>
    <hr>
</div>

<h1>Summary</h1>
<p>In this game, the player uses a paddle to catch balls and deliver them to the correct tank. This game is world based
    with ten levels in each of the six worlds.</p>

<br><br>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <figure class="figure">
            <img src="/images/tank_game/tank_card.png" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-3">
    </div>
</div>

<br><br>
<h1>Details</h1>
<hr>

<h3>Project Requirements</h3>
<table class="table table-sm">
    <tbody>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Can be played quickly</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Is addictive</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Original feel</th>
        </tr>
        <tr>
            <th><i class="fas fa-check-square" style="color:limegreen"></i> </th>
            <th>Can be learned easily</th>
        </tr>
    </tbody>
</table>

<br>
<h3>Design</h3>
<p>The design of the game is similar to the “Breakout” game; however, instead of bouncing balls off of a paddle, you
    have to catch them and then drop them into tanks. Catching the balls takes some practice though, because the
    chamber is circular, and, when the paddle is at the top of the screen, the controls feel backwards.</p>

<br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/tank_game/home_page.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-4">
    </div>
</div>
<br>

<p>After a ball is caught, the paddle turns the color of the ball. The player then has to go to the correct tank and
    drop the ball off before getting the next one. This process is fairly trivial until red balls are introduced. Red
    balls have the ability to knock the ball off of the paddle if touched.</p>

<br>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/tank_game/first_level.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/tank_game/red_ball.gif" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-1">
    </div>
</div>
<br>

<p>Other types of balls and game twists are introduced as the levels progress. Some examples are fast balls,
    shielded
    balls, slow-mo balls, death balls, and trapped balls. The fast balls travel faster than normal, and slo-mo
    balls
    slow down time. The shielded balls have a shell around them that has to broken off by contacting the paddle
    several
    times. The death balls end the game if they contact the paddle, but they move very slow. Lastly, the trapped
    balls
    are stuck in place until the player shoots them with a projectile that is released from the paddle. </p>

<br>
<div class="icon-align-center align-bottom">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Coin.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Slo Mo Ball 1.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Death Potion1.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Love Potion1.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Posion Potion1.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Speed Ball.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/Star.png">
    <img class="myIcon myIcon-img" src="/images/tank_game/Sprites/shell_break.gif">
</div>

<br><br><br><br>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/tank_game/stuck_balls.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="/images/tank_game/cracked_balls.JPG" class="figure-img img-fluid rounded">
        </figure>
    </div>
    <div class="col-sm-1">
    </div>
</div>

<br><br>
<p>The game graphics were designed using Sketch 3 and Illustrator CC, and the game was programmed in Unity 3D using
    C#.</p>

<br><br>
</div>